.container{
    text-align: center;
    border: 2px solid #9bc2eb;
    border-radius: 10px;
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1{
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 3em;
}
p {
    color: #666;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}
input[type="number"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
button:active {
    background-color: #1e7e34;
}
#resultMessage {
    margin-top: 20px;
    font-size: 1.2em;
    color: #d9534f;
}
#resetGame {
    background-color: #007bff;
}
#resetGame:hover {
    background-color: #0056b3;
}
#resetGame:active {
    background-color: #004085;
}

